/*dark/light 모드 전환을 위한 작성*/
  
/*light mode에서 설정된 기본 값*/
:root {
  --bg-color: #f8fcf8;
  --text-color: #0e1b0e;
  --board-bg: #ffffff;
  --border-color: #d0e7d0;
}

/*dark mode가 켜지면 => .dark-mode 클래스가 body에 붙어서 css 변수가 재정의됨*/
.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --board-bg: #2b2b2b;
  --border-color: #3a3a3a;
}

/* 실제 적용 대상 */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#game-main,#game-board {
  background-color: var(--board-bg);
  border-color: var(--border-color);
}

header,.rounded-xl, .border {
  border-color: var(--border-color) !important;
}



/*여기 까지*/


  
  
  .apple.selected {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    user-select: none; 
    
  }
  #drag-box {
    position: absolute;
    border: 2px solid #3bc166;
    background-color: rgba(67, 214, 138, 0.3);
    pointer-events: all; /*드레그 되게 설정*/
    z-index: 50; /* 드래그 박스가 사과 위에 설정되도록 z-index 설정 */

  }
  /*잘못된 영역 드레그에 대한 스타일 제거*/
  #game-board {
    user-select: none;
  }
 